.container {
  width: 400px;
  margin-top: 85px;
  padding: 25px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: white;
}

.container > form {
  margin-top: 25px;
}

form > button {
  margin-right: 15px;
  margin-top: 15px;
}
